# Python
__pycache__/
*.pyc
*.pyo

# Conda / venv
env/
venv/
*.conda
*.egg-info/

# PyTorch
*.pth
*.pt

# DGL / cache
*.bin
*.pkl
cache/
graphs/

# Data
data/
datasets/

# Logs
*.log

# OS
.DS_Store



